body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(126, 53, 19, 0.521);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

.required {
    color: red;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
